body {font-family:sans-serif;
margin-top:60px;
max-width:800px;
margin:0 auto;
}

.center
{text-align:center;
max-width:800px;
margin:0 auto;
}

.text-big{
    font-size:300%
}

.bold{
    font-weight:bold;
}

.img-medium{
    height:200px;
    
}
.container{
max-width:800px;
margin:0 auto;
color:blue;
font-family:sans-serif;
padding-right:100px;
padding-left:20px;
}
